{
    "testbed_baseurl": "oidf.lab.surf.nl",
    "use_letsencrypt": false,
    "acme_ca": "",
    "key_id": "",
    "mac_key": "",
    "email": "",
    "docker_container_name_template": "testbed-~~container_name~~-1",
    "edugain_ra_url": "https://www.edugain.org"
}
