{
        "surf-rp": {
            "name": "SURF test RP",
            "url": "surf-rp",
            "tas": ["nl.surfconext"],
            "tms": [
                {"https://edugain.org/member": "edugain"},
                {"https://erasmus-plus.ec.europa.eu": "erasmus-plus"}
            ]
        }
    }